server:
  port: ${SERVER_PORT:8080}

spring:
  application:
    name: re-shopping-cart-web-app

  profiles:
    active: ${SPRING_PROFILES_ACTIVE:prod}

  datasource:
    url: ${SPRING_DATASOURCE_URL}
    username: ${SPRING_DATASOURCE_USERNAME}
    password: ${SPRING_DATASOURCE_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    database-platform: org.hibernate.dialect.MySQLDialect
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
    hibernate:
      ddl-auto: ${SPRING_JPA_DDL_AUTO:none}
    show-sql: ${SPRING_JPA_SHOW_SQL:false}

  thymeleaf:
    cache: ${SPRING_THYMELEAF_CACHE:false}

---
# Local profile
spring:
  config:
    activate:
      on-profile: local

  thymeleaf:
    cache: false

  jpa:
    show-sql: true

---
# Production profile
spring:
  config:
    activate:
      on-profile: prod

  thymeleaf:
    cache: true

  jpa:
    show-sql: false
